<div class="default-form">
  <h1>Edit Provider</h1>

  <%= simple_form_for @provider, html: { class: 'form-horizontal' } do |f| %>
    <%= render '/shared/simple_form_errors', f: f %>

    <div class="form-inputs">
      <%= render 'form', f: f %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
      <%= link_to("Cancel", providers_path, class: 'btn') %>
    </div>

  <%- end %>

</div>