<!DOCTYPE html>
<html>
<head>
  <title>Eligible Rails Demo APP</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Eligible Demo", root_path, class: 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="<%= params[:controller] == 'home' && params[:action] == 'index' ? 'active' : '' %>">
            <%= link_to("Home", root_path) %>
          </li>
          <li><a href="#about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class="container">

  <%= render '/shared/flash', flash: flash %>

  <%= yield %>

</div>

</body>
</html>


